{{ ansible_managed | comment }}

Client {
  Name = "{{ bareos_fd_hostname }}"
  Messages = "{{ bareos_fd_message }}"
{% if not bareos_fd_tls_enable %}
  TLS Enable = No
{% endif %}
{% if bareos_fd_tls_verify_peer %}
  TLS Verify Peer = Yes
{% endif %}
{% if bareos_fd_heartbeat_interval != 0 %}
  Heartbeat Interval = {{ bareos_fd_heartbeat_interval }}
{% endif %}
{% if bareos_fd_maximum_concurrent_jobs != 20 %}
  Maximum Concurrent Jobs = {{ bareos_fd_max_concurrent_jobs }}
{% endif %}
{% if bareos_fd_encryption_enabled %}
  PKI Signatures = Yes
  PKI Encryption = Yes
  PKI Keypair = "/etc/bareos/{{ bareos_fd_hostname }}.pem"
  PKI Master Key = "/etc/bareos/master.pub.key"
  PKI Cipher = aes128
{% endif %}

{#
  bareos_fd_plugins is defined on host/group level,
  while bareos_fd_plugin_list is a role var, with all available plugins
#}
{% if bareos_fd_plugins is defined %}
{% for plugin in bareos_fd_plugins %}
{% for item in bareos_fd_plugin_list if item.name == plugin %}

{% if item.plugin_dir is defined %}
  Plugin Directory = "{{ item.plugin_dir }}"
{% endif %}
{% if item.plugin_names is defined %}
  Plugin Names = "{{ item.plugin_names }}"
{% endif %}

{% endfor %}
{% endfor %}
{% endif %}
}
